<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amrdeveloper.fastmind">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SinglePlayActivity"
            android:label="@string/single_game" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".activities.MultiPlayActivity"
            android:label="@string/multi_player_game" />
        <activity
            android:name=".activities.RankActivity"
            android:label="@string/rank" />
        <activity
            android:name=".activities.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.ChallengeActivity"
            android:label="@string/challenge" />
        <activity
            android:name=".activities.FeedActivity"
            android:label="@string/feed" />
        <activity android:name=".activities.SplashActivity" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/profile" />
    </application>

</manifest>